<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
        @*<script data-main="@routes.Assets.versioned("javascripts/angular.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>*@
        <script src='@routes.Assets.versioned("javascripts/angular.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/inscription.js")'></script>
    </head>
    <body ng-app="appModule">
        @*<div ng-view>*@
        @*<nav>*@
        @*<a href="#/home" class="btn btn-primary">Page d'accueil</a>*@
        @*<a href="#/contact" class="btn btn-success">Page de contact</a>*@
        @*</nav>*@
        @*</div>*@

    <h2>Creation de compte</h2>
    <form ng-controller="createUserController">
        <p>Name : <br>
            <input type="text" name="name" ng-model="name" required>
        </p>
        <p>Login : <br>
            <input type="text" name="login" ng-model="login" required>
        </p>
        <p>Password : <br>
            <input type="password" name="password" ng-model="password" required>
        </p>
        <p>
            <input type="submit" value="Add" ng-click="tryCreateUser()" />
        </p>
    </form>
    </body>
</html>