<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
        @*<script data-main="@routes.Assets.versioned("javascripts/angular.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>*@
        <script src='@routes.Assets.versioned("javascripts/angular.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
    </head>
    <body ng-app="appModule">
        <div ng-controller="LoginController">
            <input ng-model="login" type="text" /> <br>
            <input ng-model="password" type="password" /> <br>
            <input type="button" value="Add" ng-click="tryLogin()" />
        </div>
    </body>
</html>