<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>My AngularJS App</title>
        @*<script data-main="@routes.Assets.versioned("javascripts/angular.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>*@
        <script src='@routes.Assets.versioned("javascripts/angular.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/angular-route.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </head>
    <body ng-app="myApp">
        <div ng-view></div>
    </body>
</html>